
@font-face {
    font-family: 'HelveticaLight';
    src: url('../fonts/helveticalt-webfont.eot');
    src: url('../fonts/helveticalt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticalt-webfont.woff') format('woff'),
         url('../fonts/helveticalt-webfont.ttf') format('truetype'),
         url('../fonts/helveticalt-webfont.svg#HelveticaLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaCondensedLightLiRg';
    src: url('../fonts/helvetica_condensed_light_li-webfont.eot');
    src: url('../fonts/helvetica_condensed_light_li-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica_condensed_light_li-webfont.woff') format('woff'),
         url('../fonts/helvetica_condensed_light_li-webfont.ttf') format('truetype'),
         url('../fonts/helvetica_condensed_light_li-webfont.svg#HelveticaCondensedLightLiRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

